/*==================== robots====================*/
/* .robots {
  background-color: rgb(253, 245, 170);
} */

p {
    color: var(--text-color) !important;
  }
  
.robots_icon {
    font-size: var(--big-font-size);
    color: var(--text-color);
    opacity: 70%;
}

.robots__container {
  /* background-color: pink; */
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.robots__content {
  position: relative !important;
  background-color: var(--container-color) !important;
  padding: 2rem 0.5rem 1.25rem 1.5rem !important;
  border-radius: 0.25rem !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) !important;
  transition: 0.3s !important   ;
}

.robots__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* For i elements */
.robots__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

/* For svg elements */
.robots__icon2 {
  /* background-color: rgb(153, 153, 51); */
  display: block;
  fill: var(--first-color);
  margin-bottom: var(--mb-0-5);
}
.robots__icon3 {
  /* background-color: rgb(153, 153, 51); */
  display: block;
  font-size: 1.5rem;
  stroke: var(--first-color);
  stroke-width: 0.15em;
  margin-bottom: var(--mb-1);
}

.robots__title {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.robots__button {
  cursor: pointer;
  font-size: var(--smaller-font-size);
}

.robots__button-arrow {
  margin-right: 1rem;
}

.robots__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.robots__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.robots__modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.robots__modal-robots {
  row-gap: 1rem;
}

.robots__modal-robot {
  display: flex;
  flex-direction: column;
}

.robots__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  /* margin-bottom: var(--mb-1-5); */
}

.robots__modal-date {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-0-75);
}

.robots__modal-close {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 1.2rem;
  color: var(--first-color);
  cursor: pointer;
  box-shadow: none;
}

.robots__modal-link {
  position: absolute;
  top: 1.2rem;
  right: 3rem;
  font-size: 1.3rem;
  margin-top: 0.2rem;
  color: var(--first-color);
  cursor: pointer;
}

/* .robots__modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-25);
} */

.robots__modal-robot-objective,
.robots__modal-robot-position,
.robots__modal-robot-partners {
  margin-bottom: var(--mb-0-5);
  font-weight: var(--font-semi-bold);
}

.robots__modal-robot-objective-icon,
.robots__modal-robot-position-icon,
.robots__modal-robot-partners-icon {
  margin-right: var(--mb-0-25);
  font-size: var(--h3-font-size);
}

.robots__modal-robot-objective-text,
.robots__modal-robot-position-text {
  font-size: 0.7rem;
}

.robots__modal-robot-partners-list {
  display: grid;
  row-gap: 0.4rem;
}

.robots__modal-robot-partners-list-element-text {
  font-size: 0.6rem;
}

/* .robots__modal-robot-objective-font {
  font-size: 0.6rem;
  margin-top: var(--mb-0-25);
} */

/* Active Modal */

.active-modal {
  opacity: 1;
  visibility: visible;
}

/*==================== MEDIA QUERIES ====================*/
/* For medium devices */
/**** width: 768px, height: 658px *****/
@media screen and (min-width: 768px) {
  .robots__container {
    /* grid-template-columns: repeat(3, 218px); */
    /* justify-content: center; */
    margin: auto;
  }

  .robots__content {
    padding: 5rem 0 2rem 2.5rem;
  }

  .robots__icon2,
  .robots__icon3 {
    width: 105px !important;
    height: 105px !important;
  }

  .robots__modal-content {
    width: 450px;
  }

  .robots__modal-robot-objective-text,
  .robots__modal-robot-position-text {
    font-size: var(--small-font-size);
  }

  .robots__modal-robot-partners-list-element-text {
    font-size: var(--smaller-font-size);
  }
}

/* For large devices */
/**** width: 1024px, height: 658px *****/
/* @media screen and (min-width: 1024px) {
  .robots__container {
    margin: auto;
  }
} */
