.roster_icon {
    font-size: var(--big-font-size);
    color: var(--text-color);
    opacity: 70%;
}

.roster {
    text-align: center;
    padding: 2rem 0;
  }
  
  .roster__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .roster__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .roster__name {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .roster__position {
    color: gray;
    margin-top: 0.25rem;
  }

  .roster__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0rem !important;/* Set a consistent vertical margin */
    padding: 0 20px; /* Add side padding for small screens */
  }

/* Keep the description text styling */
.roster__description {
    text-align: center;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    color: var(--text-color);
}

.roster__email__color {
  color: var(--first-color);
}

.roster__email__color:hover {
  color: var(--second-color);
}

@media screen and (min-width: 1000px) {
  .roster__data {
    margin: 2.5rem 7.0rem !important;/* Set a consistent vertical margin */
  }
}

@media screen and (min-width: 820px) {
  .roster__data {
    margin: 2.5rem 5.0rem !important;/* Set a consistent vertical margin */
  }
}